.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Website body */
body {
  height: 100%;
  padding-bottom: 50px;
  font-family: "Trebuchet", sans-serif;
}
p {
  font-size: 17px;
}
#about {
  padding-top: 50px;
  text-align: center;
}
p {
  margin-top: 20px;
}
h2 span {
  padding: 0 20px;
  background-color: white;
}
.thumbnail {
  max-height: 100%;
  max-width: 75%;
}
.resume {
  text-align: center;
}
.caption {
  font-style: italic;
}
ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  #img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

/* Intro text */
#title {
  font-size: 40px;
  text-align: center;
  font-style: italic;
}
#name {
  font-size: 100px;
  font-style: bold;
}
#intro {
  font-style: italic;
  font-size: 30px;
}

/* Footer */
#contact {
  height: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 75px;
}
h3 span {
  font-size: 20px;
  padding: 0 10px;
  background-color: white;
}

/* Footer link icons */
.fa {
  margin: 5px 2px;
  text-align: center;
  font-size: 50px;
}
.fa:hover {
  text-decoration: none;
}
.fa-github {
  color: black;
}
.fa-github:hover {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
